$primary: #0052FF;
$primary-dark: #588AF5;

$primary-wash: #f5f8ff;
$primary-wash-dark: #001033;

$foreground-muted: #5b636e;
$foreground-muted-dark: #8A919E;

$white: #FFF;
$black: #0A0B0D;

$background: $white;
$background-alt: #EEF0F3;
$background-dark: $black;
$background-alt-dark: #1E2025;
