$primary: #0052FF;
$primary-dark: #588AF5;

$primary-wash: #f5f8ff;
$primary-wash-dark: #001033;

$foreground-muted: #5b636e;

$white: #FFF;
$black: #000;

$grey-50: #aaa;

$background: $white;
$background-dark: #0A0B0D;
