.card-container {
  width: 768px;
}

.card {
  background-image: linear-gradient(135deg, #81ffef 10%, #f067b4 100%);
}

.card-profile {
  position: absolute;
  top: -80px;
  left: 124px;
}

.card-profile-pic {
  width: 150px;
  height: 150px;
  border: 2px solid white;
}
