.card-container {
  width: 768px;
}

.card {
  background-image: linear-gradient(135deg, #81ffef 10%, #f067b4 100%);
}

.card-profile {
  position: absolute;
  top: -80px;
  left: 124px;
}

.card-profile-pic {
  width: 150px;
  height: 150px;
  border: 2px solid white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
