* @bangtoven @erin-at-work @jeongmincho
# overriding heimdall requirement
#~ { "path": "/package.json", "teams": { "@wallet/wallet": { "required_reviews": 0 } } }
#~ { "path": "/src/version.ts", "teams": { "@wallet/wallet": { "required_reviews": 0 } } }
