$primary: #0052ff;
$primary-dark: #588af5;

$primary-wash: #f5f8ff;
$primary-wash-dark: #001033;

$foreground-muted: #5b636e;
$foreground-muted-dark: #8a919e;

$white: #fff;
$black: #0a0b0d;

$background: $white;
$background-alt: #eef0f3;
$background-dark: $black;
$background-alt-dark: #1e2025;
