@import "./theme";

.cbwsdk-cancel-button {
  // -webkit-appearance: none;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 12px;

  cursor: pointer;

  &.light {
    background-color: $wash;
  }

  &.dark {
    background-color: $background-alt-dark;
  }

  &-x {
    position: relative;
    display: block;
    cursor: pointer;

    &.light {

      &::before,
      &::after {
        background-color: $black;
      }
    }

    &.dark {

      &::before,
      &::after {
        background-color: $white;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: -1px;
      left: -7px;
      width: 14px;
      height: 1px;
      transition: background-color 0.2s;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }
  }

  &:hover {
    .-cbwsdk-link-dialog-box-cancel-x {

      &-a,
      &-b {
        background-color: #000;
      }
    }
  }
}